*, *:before, *:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.cf:before, cf:after{content: ""; display: table;}
.cf:after{clear: both;}
.cf{*zoom:1;}

body{font: 100%/1.4 sans-serif;background:#ccc;}/*line-height padrão de 1.4*/
h1,h2{font-weight: bold;}
h1{font-size: 140%;}
h2{font-size: 120%;}
p{margin: 0.6em 0;}/*ajustando a margem de altura do P*/
p:last-child{margin-bottom: 0; padding-bottom: 0.6em;}

.topo{
    
}