*, *:before, *:after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.cf:before, .cf:after { content: ""; display: table; }
.cf:after {clear: both;}
.cf { *zoom:1; }
body{background: #830000;}
.tudo{background: #fff;}
.topo{
    background-color: blue;
    text-align: center;
}
.navegacao{background-color: cyan;}
.principal{background: rosybrown;}
.rodape{text-align: center;}